html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background: white;
  font-family: 'Noto Serif KR', serif;
}

/*Home페이지*/
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #ffffff;
}

.location {
  margin-top: 110px;
  margin-left: 320px;
  display: inline-flex;
  align-items: flex-start;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.05;
}

.cities {
  font-weight: 500;
  text-align: left;
}

.signature {
  display: block;

  margin-left: 40px;
  margin-top: 350px;

  width: min(850px, 60vw);
  height: auto;
}

.menu {
  position: absolute;

  top: 120px;
  right: 140px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 18px
}

.introduction {
  writing-mode: vertical-rl;
  font-size: 27px;
  line-height: 1;
  margin-top: 35px;
}

.menu_nav {
  display: flex;
  flex-direction: column;
}

.menu_nav a.menu_home {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 18px;
}

.menu_nav a {
  position: relative;
  display: block;

  text-decoration: none;
  color: black;

  font-size: 22px;
  font-weight: 100;
  line-height: 1.2;

  padding-right: 30px; /* 점 자리 확보 */
}

.menu_nav a.active::after {
  content: "";

  position: absolute;
  right: 0;        /* ← 항상 같은 위치 */
  top: 50%;
  transform: translateY(-50%);

  width: 9px;
  height: 9px;

  background: #b30000;
  border-radius: 50%;
}
/*Home페이지 끝*/

/*CV페이지*/
.cv_page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
}

.cv_content {
  margin-left: 75px;
  padding-top: 200px;
  width: 870px;
}

.cv_name {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.cv_based {
  margin-top: 18px;
  margin-bottom: 70px;
  font-size: 17px;
  font-weight: 400;
}

.cv_section {
  margin-bottom: 22px;
  padding-bottom: 14px;
  border-bottom: 1px solid;
}

.cv_section:last-child {
  border-bottom: none;
}

.cv_section h2 {
  margin: 0 0 12px 0;
  font-size: 17px;
  font-weight: 1000;
}

.cv_section p {
  margin: 0 0 14px 0;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
}

.cv_menu {
  position: absolute;
  top: 120px;
  right: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 28px;
}

.cv_signature {
  width: 400px;
  height: auto;
  margin-top: -75px;
}
/*cv페이지*/

/*contact페이지*/
.contact_page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
}

.contact_content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 430px;
}

.contact_info {
  text-align: center;
}

.contact_label {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.2;
}

.contact_value {
  margin: 2px 0 0 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
}

.instagram_label {
  margin-top: 26px;
}

.contact_value a {
  color: black;
  text-decoration: none;
}

.contact_value a:hover {
  opacity: 0.5;
}

.contact_note {
  margin-top: 26px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
}

.contact_menu {
  position: absolute;
  top: 120px;
  right: 140px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 28px;
}

.contact_signature {
  width: 400px;
  height: auto;
  margin-top: -75px;
}
/*contact페이지*/

/*works페이지*/
.works_page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
}

.works_list {
  position: fixed;
  left: 55px;
  bottom: 40px;
  width: 350px;
}

.works_group {
  margin-bottom: 34px;
}

.works_title {
  margin: 0 0 14px 0;
  font-size: 17px;
  font-weight: 1000;
  line-height: 1.2;
}

.works_group p:not(.works_title) {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
}

.active_work {
  font-weight: 600;
}

.works_image {
  margin-left: 460px;
  padding-top: 275px;
  width: 880px;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.works_image img {
  display: block;
  width: 100%;
  height: auto;
}

.works_description {
  margin-left: 460px;
  margin-top: 24px;
  padding-bottom: 60px;
  width: 880px;
}

.works_description p {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
}

.works_description a {
  color: black;
  text-decoration: none;
}

.works_description a:hover {
  opacity: 0.6;
}

.work_item:hover {
  opacity: 0.6;
}

.work_item {
  position: relative;
  display: block;
  padding-right: 18px; /* 점 자리 */
  cursor: pointer;
}

.work_item.active_work::after {
  content: "";

  position: absolute;
  right: 145px;   /* ← 정렬 핵심 */
  top: 50%;
  transform: translateY(-50%);

  width: 9px;
  height: 9px;

  background: #b30000;
  border-radius: 50%;
}
/*works페이지*/

/*staement페이지*/
.statement_page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
}

.statement_content {
  margin-left: 75px;
  padding-top: 350px;
  width: 1000px;
}

.statement_content p {
  margin: 0 0 18px 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
