body {
  margin: 0;
  background: white;
  font-family: 'Noto Serif KR', serif;
}

<!--Home페이지-->
.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.location {
  margin-top: 110px;
  margin-left: 320px;
  display: inline-flex;
  align-items: flex-start;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.05;
}

.cities {
  font-weight: 500;
  text-align: left;
}

.signature {
  display: block;

  margin-left: 50px;
  margin-top: 370px;

  width: min(850px, 60vw);
  height: auto;
}

.menu {
  position: absolute;

  top: 120px;
  right: 140px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 18px
}

.introduction {
  writing-mode: vertical-rl;
  font-size: 27px;
  line-height: 1;
  margin-top: 35px;
}

.menu_nav {
  display: flex;
  flex-direction: column;
}

.menu_nav a.menu_home {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 18px;
}

.menu_nav a {
  position: relative;

  text-decoration: none;
  color: black;

  font-size: 22px;
  font-weight: 100;
  line-height: 0.8;
}

.menu_nav a.active::after {
  content: "";

  width: 6px;
  height: 6px;

  background: #b30000;
  border-radius: 50%;
}
<!--Home페이지 끝-->

<!--CV페이지-->
.cv_page {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background: #ffffff;
}

.cv_content {
  margin-left: 75px;
  padding-top: 200px;
  width: 870px;
}

.cv_name {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
}

.cv_based {
  margin-top: 18px;
  margin-bottom: 70px;
  font-size: 18px;
  font-weight: 400;
}

.cv_section {
  margin-bottom: 52px;
}

.cv_section h2 {
  margin: 0 0 24px 0;
  font-size: 18px;
  font-weight: 600;
}

.cv_section p {
  margin: 0 0 26px 0;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
}

.cv_menu {
  position: absolute;
  top: 50px;
  right: 85px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 28px;
}

.cv_signature {
  width: 360px;
  height: auto;
}
